.add-user{
  height: 200px;
  padding: 10px;
  padding-left: 50px;
  border: 1px solid orange;
}
.display-user{
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 50px;
  border: 1px solid orange;
  overflow: scroll;
}
.add-user-input{
  width: 250px;
  height: 35px;
  display: block;
}
.add-user-btn{
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 20px;
}
.users{
  background-color: skyblue;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}